<form [formGroup]="form" (ngSubmit)="save($event)">
  <div formGroupName="fullName">
    <mat-form-field appearance="fill">
      <mat-label>Name: {{ nameField.value }}</mat-label>
      <input matInput type="text" formControlName="name">
      <mat-icon matSuffix *ngIf="isNameFieldValid">done</mat-icon>
      <mat-icon matSuffix *ngIf="isNameFieldInvalid">close</mat-icon>
    </mat-form-field>
    <div class="messages" [class.active]="isNameFieldInvalid">
      <mat-error *ngIf="nameField.hasError('required')">
        Este campo es requerido
      </mat-error>
      <mat-error *ngIf="nameField.hasError('maxlength')">
        debe tener maximo 10 c
      </mat-error>
      <mat-error *ngIf="nameField.hasError('pattern')">
        No debe tener carac..
      </mat-error>
    </div>

    <p>
      Last Name: {{ lastField.value }} {{ lastField.valid }}
      <input
        type="text"
        formControlName="last"/>
    </p>
  </div>


  <p>
    Email: {{ emailField.value }}
    <input type="email" formControlName="email"/>
  </p>

  <div class="messages" [class.active]="emailField.touched && phoneField.invalid">
    <p>
      <strong *ngIf="emailField.hasError('required')">
        Este campo es requerido
      </strong>
    </p>
    <p>
      <strong *ngIf="emailField.hasError('email')">
        Esto no es un emial valido
      </strong>
    </p>
  </div>

  <p>
    Age: {{ ageField.value }}
    <input type="number" formControlName="age"/>
  </p>

  <div class="messages" [class.active]="ageField.touched && ageField.invalid">
    <p>
      <strong *ngIf="ageField.hasError('required')">Este campo es requerido</strong>
    </p>
    <p>
      <strong *ngIf="ageField.hasError('min')">Debe ser mayor de edad</strong>
    </p>
    <p>
      <strong *ngIf="ageField.hasError('max')">Debe ser menor de 100 años</strong>
    </p>
  </div>


  <p>
    Phone: {{ phoneField.value }}
    <input type="tel" formControlName="phone"/>
  </p>

  <div class="messages" [class.active]="phoneField.touched && phoneField.invalid">
    <p>
      <strong *ngIf="phoneField.touched && phoneField.hasError('required')">Este campo es requerido</strong>
    </p>
  </div>

  <p>
    Color: {{ colorField.value }}
    <input type="color" formControlName="color"/>
  </p>

  <p>
    Date: {{ dateField.value }}
    <input type="date" formControlName="date"/>
  </p>

  <p>
    Phone: {{ ageField.value }}
    <input type="number" formControlName="age"/>
  </p>

  <p>
    Category: {{ categoryField.value }}
    <select formControlName="category">
      <option value="category-1">Category 1</option>
      <option value="category-2">Category 2</option>
      <option value="category-3">Category 3</option>
      <option value="category-4">Category 4</option>
    </select>
  </p>

  <p>
    Tags: {{ tagField.value }}
    <select formControlName="tag" multiple>
      <option value="tag-1">Tag 1</option>
      <option value="tag-2">Tag 2</option>
      <option value="tag-3">Tag 3</option>
      <option value="tag-4">Tag 4</option>
    </select>
  </p>

  <p>
    Agree: {{ agreeField.value }}
    <input type="checkbox" formControlName="agree"/>
  </p>


  <p>
    Gender: {{ genderField.value }}
    <label>
      <input name="gender" value="male" type="radio" formControlName="gender"/>
      Male
    </label>
    <label>
      <input name="gender" value="female" type="radio" formControlName="gender"/>
      Female
    </label>
    <label>
      <input name="gender" value="other" type="radio" formControlName="gender"/>
      Other
    </label>
  </p>

  <p>
    Zone: {{ zoneField.value }}
    <label>
      <input name="zone" value="zone-1" type="radio" formControlName="zone"/>
      Zona 1
    </label>
    <label>
      <input name="zone" value="zone-2" type="radio" formControlName="zone"/>
      Zona 2
    </label>
    <label>
      <input name="zone" value="zone-3" type="radio" formControlName="zone"/>
      Zona 3
    </label>
  </p>

  <p>
    <button type="submit">Enviar</button>
  </p>
</form>






