<form [formGroup]="form" (ngSubmit)="save()">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Categoría</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="row">
          <div class="col-xs">
            <mat-form-field>
              <mat-label>Nombre</mat-label>
              <input placeholder="Nombre" formControlName="name" matInput type="text">
              <div class="messages" *ngIf="nameField.touched && nameField.invalid">
                <mat-error *ngIf="nameField.hasError('required')">
                  Este campo es requerido
                </mat-error>
                <mat-error *ngIf="nameField.hasError('minlength')">
                  Minimo debe tener 4 car..
                </mat-error>
                <mat-error *ngIf="nameField.hasError('not_available')">
                  Este nombre ya lo tiene otra categoría
                </mat-error>
              </div>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-xs">
            <img *ngIf="imageField.value" [src]="imageField.value" />
            <!-- <img *ngIf="(image$ | async) as image" [src]="image" /> -->
            <input type="file" (change)="uploadFile($event)">
            <div class="messages" *ngIf="imageField.touched && imageField.invalid">
              <mat-error *ngIf="imageField.hasError('required')">
                Este campo es requerido
              </mat-error>
            </div>
          </div>
        </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">
        <span *ngIf="isNew">Crear Categoría</span>
        <span *ngIf="!isNew">Editar Categoría</span>
      </button>
    </mat-card-actions>
  </mat-card>

</form>